POSTGRES_PASSWORD=pass123
PGPORT=8008    
 
NEST_DB_HOST=pg
NEST_DB_PORT=8008
NEST_DB_USER=postgres
NEST_DB_PASSWORD=pass123
NEST_DB_DATABASE=postgres
NEST_DATABASE_URL=postgresql://postgres:pass123@pg:8008/postgres
