# For use without docker
NEST_DB_HOST=localhost
NEST_DB_PORT=8008
NEST_DB_USER=postgres
NEST_DB_PASSWORD=pass123
NEST_DB_DATABASE=postgres
NEST_DATABASE_URL=postgresql://postgres:pass123@localhost:8008/postgres
